
.grid_db_news-holder, .grid_db_news-list-line {
    width: 850px;
    float: left;
    padding-bottom: 25px;
}

.grid_db_news-item {
    width: 850px;
    float: left;
    padding-bottom: 40px;
}

.grid_db_news-list-line .lastItemInLine {
    
}

.grid_db_news-item-photo-holder {

}

.grid_db_news-item-photo {
    float: left;
    padding-right: 30px;
    width: 250px;
}

.grid_db_news-item-body {
    padding-top: 35px;
    width: 570px;
    float: left;
}

.grid_db_news-item-body p {

}

.grid_db_news-item h2 {
    font-size: 1.2em;    
    color:#532a2a;

}

.grid_db_news-item p {
    padding-bottom: 0px;
}

.grid_db_news-item h2 a {
    color:#532a2a;
}

a.grid_db_news-item-more-href {
    display:block;
    margin-top: 25px;
    text-transform: uppercase;
    color:#532a2a;
}

.grid_db_news-item-date {
    float: left;
    padding-right: 10px;
    font-size: 1.2em;
}

.pagingInner {
    float: left;
}

.paging, .pagingActive {
    display: block;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid #f1f1f1;
    border-left: 0px;
    float: left;
    font-size: 1.2em;
    color: #582c2c;
}

.pagingFirst {
    border-left: 2px solid #f1f1f1;
}

.paging span {
    color:#683737
}

.grid_db_news-paging-holder {
    float: left;
    width: 850px;
}

.pagingActive {
    background-color: #f1f1f1;
    color: #582c2c;
}